@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.html{
    scroll-behavior: smooth;
}

body{
    background: #081b29;
    color: #ededed;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: linear-gradient(180deg, rgba(8, 27, 41, 0.5), rgba(8, 27, 41, 0.7));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur (10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
}

.home,
.about,
.services,
.portfolio,
.contact {
    padding-top: 100px;
}

.logo{
    position: relative  ;
    font-size: 24px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.about {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10%;
  }

.home-content{
    max-width: 600px;
}

.content-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.about .content-inner{
    display: flex;
    flex-direction:column;
    align-items: right;
}

.about .content-inner h1{
    margin-bottom: 20px;
    border-bottom: 2px solid #ededed;
    padding-bottom: 5px;
}

.about .content{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.about .avatar-container{
    margin-bottom:   50px;
}

.home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;

}

.home-content h3{
    position: relative;
    font-size: 36px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .1.3s;

}

.home-content p{
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .1.6s;

}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}

.home-content .btn-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .1.9s;
    z-index: 2;

}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before{
    background: #00abf0;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .2.5s;
    z-index: 2;

}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
}


.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.avatar-container{
    padding: 10px;
}

.avatar{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: block;     
    margin: 0 auto;
    

}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}
  
.card {
    background: #081b29;
    color: #ededed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    max-height: 200px;
    transition: max-height 0.5s ease-in-out;
    position: relative;
}

.card:hover {
    max-height: 300px;
}

.card-header {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
  
.card h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
  
.expand-btn {
    background: #00abf0;
    color: #081b29;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
  
.expand-btn:hover {
    background: #ededed;
    color: #00abf0;
}
  
.card-content {
    display: block;
    padding: 20px;
    overflow-y: auto;
    max-height: 100px;
}

.card:hover .card-content {
    max-height: 200px;
    transition: max-height 0.5s ease-in-out;
}
  
.card-content p {
    font-size: 18px;    
    margin-bottom: 10px;
}
  
.back-btn {
    background: #00abf0;
    color: #081b29;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
  
.back-btn:hover {
    background: #ededed;
    color: #00abf0;
}
  
.card {
    background: linear-gradient(90deg, #04375c, #002230);
    box-shadow: 20px 20px 60px #050c15, -20px -20px 60px #0c1a25;
    cursor: pointer;
    animation: fadeInUp 1s;
}

.card {
    animation: fadeInUp 1s;
}


  @keyframes fadeInUp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes showRight{
        100%{
            width: 0;
        }
  }

 

.Fade{
    animation: 1s fadeInUp;
}
 .contact{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popping', sans-serif;
 }
 .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: transparent;
 }

 .contact-inner{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
 }
 .contact-inner::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
 }
 .contact h2{
    width: 100%;
    text-align: center;
    color:#fff;
    font-size: 36px;
    margin-bottom: 20px;
 }
 .contact .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
 }
 .contact .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
 }
 .contact .row100 .col .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
 }
 .contact .row100 .col .inputBox input,
 .contact .row100 .col .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border:none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
 }
 .contact .row100 .col .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;  
 }
 .contact .row100 .col .inputBox input:focus + .text,
 .contact .row100 .col .inputBox input:valid + .text,
 .contact .row100 .col .inputBox textarea:focus + .text,
 .contact .row100 .col .inputBox textarea:valid + .text{
    top: -35px;
    left: -10px;
 }
 .contact .row100 .col .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0,5s;
    border-radius: 2px;
    pointer-events: none;
 }
 .contact .row100 .col .inputBox input:focus ~ .line,
 .contact .row100 .col .inputBox textarea:valid ~ .line{
    height: 100%;
 }
 .contact .row100 .col .inputBox.textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
 }
 .contact .row100 .col .inputBox textarea:focus ~ .line,
 .contact .row100 .col .inputBox textarea:valid ~ .line{
    height: 100%;
 }
 .contact .row100 .col input[type="submit"]{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color:#000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
    
 }